<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>539531800274-4tqcmr6oiu28b9568pjv6ca7l678mrib.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.539531800274-4tqcmr6oiu28b9568pjv6ca7l678mrib</string>
	<key>API_KEY</key>
	<string>AIzaSyDR9v3Sr3rqLO6yv_Ze-7cdGStSYHVuA68</string>
	<key>GCM_SENDER_ID</key>
	<string>539531800274</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mrsgv.dev.SwiftFirebase</string>
	<key>PROJECT_ID</key>
	<string>swiftfirebase-46331</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftfirebase-46331.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:539531800274:ios:27ae8d42b59c2be5a2870b</string>
</dict>
</plist>